body {
    background: #a10606;
}

#pedido {
    width: 500px;
    height: 500px;
    background: whitesmoke;
    text-align: center;
    margin: auto;
    border-radius: 40px;
    padding-top: 40px;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;


}


#sim {

    height: 40px;
    width: 60px;
    border-radius: 10px;
    background-color: #f03e3e;
    color: whitesmoke;
    margin-left: -100px;
}

#nao {
    position: absolute;
    margin-left: 70px;
    height: 40px;
    width: 60px;
    border-radius: 10px;
    background-color: #f03e3e;
    color: whitesmoke;
    margin-left: 10px;
    
}

#gatinho {
    width: 200px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -105px;
    margin-top: -80px;
    border-radius: 15px;
}